# El core no se versiona
wordpress/

# Archivos subidos por usuarios
wp-content/uploads/

# Ignora archivos de sistema
*.log
*.sql
*.tar.gz
*.zip
.DS_Store
wp-config.php

# Ignora archivos de entorno
.env